*{
	box-sizing: border-box;
    text-decoration: none;

}


/* Body */
body {
    position: fixed;
    /* box-sizing: border-box;
	text-decoration: none; */
    /* position: fixed; */
    padding-bottom: 500px;
    text-decoration: none;
    box-sizing: border-box;
    /* width: 100% 500px; */
    background-image: url("../images/zelda3.jpg");
    background-size: 800px;
    margin: 0;
    background-repeat: repeat;
}
audio {
    width: 300px;
    position: absolute;  
}

audio:hover, audio:focus, audio:active{
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    }


audio{
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
}


/* Top */
.pos-f-t {
    background: black;
    position: fixed;
    border-bottom: 6px solid rgba(255, 255, 255, 0.756);
    /* padding-bottom: 20px; */
    width: 100%;

    margin-top: -60px;
    padding-top: 60px;
    padding-bottom: 0px;
    font-family: 'Fredericka the Great', cursive;

}




.navbar-toggler span {
    position: absolute;
    padding: 10px;
    font-family: 'Fredericka the Great', cursive;
    margin-top: -20px;
    margin-left: 10px;

}


marquee {
    position: absolute;
    /* width: 55%; */
    opacity: .7;
    margin-left: -200px;
    margin-right: 0px;
    margin-top: 0px;
    /* margin-bottom: 20px; */
    /* padding-bottom: -90px; */
    /* padding-left: 20%; */

}



.header {
    width: 650px;
    background: rgba(1, 0, 1, 0.445);
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 90px;
    margin-bottom: 3px;
    margin-right: 670px;
    margin-left: 20px;
}
.header h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 0px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px;
}

.randomToMatch {
    width: 450px;
    float: left;
    background: rgba(1, 0, 1, 0.445);
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 185px;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-right: 90%;
    margin-left: 20px;
}
.randomToMatch h2 {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    font-weight: bold;
    font-size: 30px;
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
}

.winsAndLosses {
    width: 172px;
    float: left;
    background: rgba(1, 0, 1, 0.445);
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding: 25px 2px 23px 70px;
    margin-top: -85px;
    margin-bottom: 3px;
    margin-left: 498px;
    padding-bottom: 5px;
    padding-top: 7.5px;
}
.winsAndLosses h2 {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    margin-left: -55px;
    width: 150px;
    margin-top: 5px;
    margin-right: 90px;
    padding-left: 3px;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
}

.gems {
    width: 650px;
    float: left;
    background: rgba(1, 0, 1, 0.445);
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-right: 670px;
    margin-left: 20px;
    
}

.gems img {
    width: 40px;
    margin-top: 5px;
    margin-left: 70px;
}
#First {
    margin-left: 90px;
}
#Second {
    margin-left: 90px;
}
#Third {
    margin-left: 90px;
}
#Fourth {
    margin-left: 80px;
}

#First:hover, #First:focus, #First:active, #Second:hover, #Second:focus, #Second:active, #Third:hover, #Third:focus, #Third:active, #Fourth:hover, #Fourth:focus, #Fourth:active
{
-webkit-transform: scale(1.7);
-moz-transform: scale(1.7);
transform: scale(1.7);
}


#First, #Second, #Third, #Fourth
{
-webkit-transition:all .1s linear;
-moz-transition:all .1s linear;
-o-transition:all .1s linear;
transition:all .1s linear;
-moz-border-radius:10px 10px 10px 10px ;
-webkit-border-radius:10px 10px 10px 10px ;
border-radius:10px 10px 10px 10px ;
}

/* #First:hover {
    margin-left: 90px;

    margin-top: -8px;
    width: 60px;
    position: fixed;
}
#Second:hover {
    margin-left: 90px;

    margin-top: -8px;
    width: 60px;
    position: fixed;
}
#Third:hover {
    margin-left: 90px;

    margin-top: -8px;
    width: 60px;
    position: fixed;
}
#Fourth:hover {
    margin-left: 90px;

    margin-top: -8px;
    width: 60px;
    position: fixed;
} */
/* .gems img:hover {
    margin-top: -8px;
    /* opacity: 0.7;
    width: 60px;
    position: fixed;
} */

.totalScore {
    float: left;
    background: rgba(1, 0, 1, 0.445);
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 145px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 70%;
    margin-left: 20px;
}
.totalScore h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 30px;
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
}

.totalScore #picture {
    position: absolute;
    float: left;
    background: rgba(1, 0, 1, 0.445);
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: -18px;
    margin-top: -74px;
    margin-bottom: 10px;
    margin-left: 450px;
}

.totalScore #picture img{
    width: 198px;
    height: 200px;
    padding-bottom: 70px;
    padding-left: -10px;
    padding-right: 19px;  
    margin-top: -78.5px;
    margin-bottom: -110px;
    margin-right: -10px;
}

/* #RR {
    color: White;
    
    background: rgba(1, 0, 1, 0.445);
    position: relative;
    float: left;
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding-bottom: 35px;
    padding-top: 20px;
    padding-right: 60px;
    margin-top: -129px;
    margin-bottom: 10px;
    margin-left: 450px;
}
#RR h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
} */

/* @keyframes blink{
    0% {opacity: 1;}
    80% {opacity: 1;}
    81% {opacity: 0;}
    100% {opacity: 0;}
}

@-webkit-keyframes blink{
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
.blink h2{
    font-size: 35px;
    font-weight: bolder;
    color: gold;
    animation: blink 1s linear infinite;
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -o-animation: blink 1s linear infinite;
} */
/* 
.navi1 {
    position: fixed;
    opacity: .6;
    float: left;
    margin-left: 80px;
    margin-top: -270px;
} */
/* .navi2 {
    position: absolute;
    opacity: 0.2; 
    float: left;
    margin-left: 130px;
    margin-top: -257px;
} */

.navi4 {
    position: relative;
    float: left;
    opacity: .7;
    margin-left: 160px;
    margin-top: -100px;
}

.footer {
    background-image: url(../images/stars.gif);
    position: fixed;
    border-top: 6px solid rgba(255, 255, 255, 0.756);
    /* padding-bottom: 20px; */
    width: 100%;
    margin-top: 320px;
    padding-bottom: 600px;
    font-family: 'Fredericka the Great', cursive;

}
.footer p {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    

}


@media screen and (min-width: 680px) and (max-width: 1630px){
    body {
        padding-bottom: 700px;
        background-size: 100% 550px;
    }
    .navbar-toggler {

        margin-left: 80%;
    }

}





@media screen and (min-width: 560px) and (max-width: 680px){
    .navbar-toggler {
        margin-left: 65%;
    }
    audio {
        width: 125px;
    }
    .header {
        width: 60%;
        padding: 15px;
    }
    .header h1{
        font-size: 40px;
    }

    .randomToMatch {
        width: 60%;
        /* padding: 10px; */
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .randomToMatch h2 {
        margin-left: 30%;
    }

    .winsAndLosses {
        width: 60%;
        /* padding: 15px 2px 0px 70px; */
        padding-top: 15px;
        padding-bottom: 8px;
        padding-left: 48%;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 19px; 
       }
       .winsAndLosses h2 {
           margin-left: -200px;
       }

    .gems {
        width: 60%;
        margin-top: 230px;
        padding-bottom: 85px;
        position: absolute;
    }
    #First {
        margin-left: 15%;
        position: absolute;
    }
    #Second {
        margin-left: 34%;
        position: absolute;
    }
    #Third {
        margin-left: 54%;
        position: absolute;
    }
    #Fourth {
        margin-left: 75%;
        position: absolute;

    }

    .totalScore {
        width: 60%;
        margin-top: 150px;


    }

 

    .instructions {
        width: 80%;
        font-size: 14px;
    }
    .instructions li {
        width: 115%;
    }

    .footer {
        background-image: url(../images/stars.gif);
        position: fixed;
        border-top: 6px solid rgba(255, 255, 255, 0.756);
        /* padding-bottom: 20px; */
        width: 100%;
        margin-top: 390px;
        padding-bottom: 600px;
        font-family: 'Fredericka the Great', cursive;
    
    }
/* 
    .navi1 {
    display: none;
        position: absolute;
        float: left;
        margin-top: -190px;
    }
    
    .navi2 {
        width: 50%;
        margin-top: -173px;
    } */


    .totalScore #picture {
        display: none;
}
}
        
@media screen and (min-width: 0) and (max-width: 560px){

    audio {
        width: 125px;
    }
    .navbar-toggler {
        margin-left: 65%;
    }

    .header {
        width: 45%;
        padding: 15px;
    }
    .header h1{
        font-size: 40px;
    }

    .randomToMatch {
        width: 45%;
        /* padding: 10px; */
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .randomToMatch h2 {
        margin-left: 30%;
    }

    .winsAndLosses {
        /* padding: 15px 2px 0px 70px; */
        padding-top: 15px;
        padding-bottom: 8px;
        padding-left: 44%;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 19px; 
       }
       .winsAndLosses h2 {
           margin-left: -200px;
       }

    .gems {
        width: 45%;
        margin-top: 230px;
        padding-bottom: 85px;
        position: absolute;
    }
    #First {
        margin-left: 15%;
        position: absolute;
    }
    #Second {
        margin-left: 34%;
        position: absolute;
    }
    #Third {
        margin-left: 54%;
        position: absolute;
    }
    #Fourth {
        margin-left: 75%;
        position: absolute;

    }

    .totalScore {
        width: 45%;
        margin-top: 150px;


    }

 

    .instructions {
        width: 80%;
        font-size: 14px;
    }
    .instructions li {
        width: 120%;
        font-size: 13px;
    }

    .footer {
        background-image: url(../images/stars.gif);
        position: fixed;
        border-top: 6px solid rgba(255, 255, 255, 0.756);
        /* padding-bottom: 20px; */
        width: 100%;
        margin-top: 390px;
        padding-bottom: 600px;
        font-family: 'Fredericka the Great', cursive;
    
    }


    .totalScore #picture {
        display: none;
}
    
}