/* *{
	box-sizing: border-box;
	text-decoration: none;
} */


/* Body */
body {
    /* box-sizing: border-box;
	text-decoration: none; */
    /* position: fixed; */
    
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    background-image: url("../images/zelda3.jpg");
    background-size: 100% 700;
    background-repeat: repeat;
}
audio {
    position: absolute;
    
}
audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}


audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}


/* Top */
.pos-f-t {
    background: black;
    position: fixed;
    border-bottom: 6px solid rgba(255, 255, 255, 0.756);
    /* padding-bottom: 20px; */
    width: 100%;
    margin-top: -100px;
    padding-bottom: 0px;
    font-family: 'Fredericka the Great', cursive;

}




.navbar-toggler span {
    position: absolute;
    padding: 10px;
    font-family: 'Fredericka the Great', cursive;
    margin-top: -20px;
    margin-left: 10px;

}


marquee {
    position: absolute;
    /* width: 55%; */
    opacity: .7;
    margin-left: -200px;
    margin-right: 0px;
    margin-top: 5px;
    /* margin-bottom: 20px; */
    padding-bottom: -10px;
    /* padding-left: 20%; */

}



.header {
    width: 650px;
    background: rgba(1, 0, 1, 0.445);
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding-bottom: 40px;
    padding-top: 30px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 670px;
    margin-left: 20px;
}
.header h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 0px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 70px;
}

.randomToMatch {
    width: 450px;
    float: left;
    background: rgba(1, 0, 1, 0.445);
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding-bottom: 35px;
    padding-top: 20px;
    padding-right: 185px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 90%;
    margin-left: 20px;
}
.randomToMatch h2 {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    font-weight: bold;
    font-size: 30px;
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
}

.winsAndLosses {
    width: 172px;
    float: left;
    background: rgba(1, 0, 1, 0.445);
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding: 25px 2px 23px 70px;
    margin-top: -129px;
    margin-bottom: 10px;
    margin-left: 498px;
}
.winsAndLosses h2 {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    margin-left: -55px;
    width: 150px;
    margin-top: 5px;
    margin-right: 90px;
    padding-left: 3px;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
}

.gems {
    width: 650px;
    float: left;
    background: rgba(1, 0, 1, 0.445);
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 670px;
    margin-left: 20px;
    
}

.gems img {
    width: 40px;
    margin-top: 5px;
    margin-left: 70px;
}
#First {
    margin-left: 90px;
}
#Second {
    margin-left: 90px;
}
#Third {
    margin-left: 90px;
}
#Fourth {
    margin-left: 80px;
}

/* #First:hover {
    margin-left: 90px;

    margin-top: -8px;
    width: 60px;
    position: fixed;
}
#Second:hover {
    margin-left: 90px;

    margin-top: -8px;
    width: 60px;
    position: fixed;
}
#Third:hover {
    margin-left: 90px;

    margin-top: -8px;
    width: 60px;
    position: fixed;
}
#Fourth:hover {
    margin-left: 90px;

    margin-top: -8px;
    width: 60px;
    position: fixed;
} */
/* .gems img:hover {
    margin-top: -8px;
    /* opacity: 0.7;
    width: 60px;
    position: fixed;
} */

.totalScore {
    float: left;
    background: rgba(1, 0, 1, 0.445);
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding-bottom: 35px;
    padding-top: 20px;
    padding-right: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 70%;
    margin-left: 20px;
}
.totalScore h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 30px;
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
}

/* #RR {
    color: White;
    
    background: rgba(1, 0, 1, 0.445);
    position: relative;
    float: left;
    border: 5px solid rgba(255, 255, 255, 0.591);
    padding-bottom: 35px;
    padding-top: 20px;
    padding-right: 60px;
    margin-top: -129px;
    margin-bottom: 10px;
    margin-left: 450px;
}
#RR h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
} */

/* @keyframes blink{
    0% {opacity: 1;}
    80% {opacity: 1;}
    81% {opacity: 0;}
    100% {opacity: 0;}
}

@-webkit-keyframes blink{
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
.blink h2{
    font-size: 35px;
    font-weight: bolder;
    color: gold;
    animation: blink 1s linear infinite;
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -o-animation: blink 1s linear infinite;
} */
/* 
.navi1 {
    position: fixed;
    opacity: .6;
    float: left;
    margin-left: 80px;
    margin-top: -270px;
} */
/* .navi2 {
    position: absolute;
    opacity: 0.2; 
    float: left;
    margin-left: 130px;
    margin-top: -257px;
} */

.navi4 {
    position: relative;
    float: left;
    opacity: .7;
    margin-left: 160px;
    margin-top: -100px;
}

.footer {
    background-image: url(../images/stars.gif);
    position: fixed;
    border-top: 6px solid rgba(255, 255, 255, 0.756);
    /* padding-bottom: 20px; */
    width: 100%;
    margin-top: 280px;
    padding-bottom: 100px;
    font-family: 'Fredericka the Great', cursive;

}
.footer p {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}


@media screen and (min-width: 680px) and (max-width: 1630px){
    body {
        padding-bottom: 700px;
    }
    .navbar-toggler {

        margin-left: 80%;
    }
}
@media screen and (min-width: 430px) and (max-width: 680px){
    
    .navbar-toggler {
        margin-left: 65%;
    }

    .header {
        width: 93%;
        padding: 15px;
    }
    .header h1{
        font-size: 40px;
    }

    .randomToMatch {
        width: 93%;
        /* padding: 10px; */
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .randomToMatch h2 {
        margin-left: 30%;
    }

    .winsAndLosses {
        width: 93%;
        /* padding: 15px 2px 0px 70px; */
        padding-top: 15px;
        padding-bottom: 8px;
        padding-left: 48%;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 19px; 
       }

    .gems {
        width: 93%;
        margin-top: 230px;
        padding-bottom: 85px;
        position: absolute;
    }
    #First {
        margin-left: 13%;
        position: absolute;
    }
    #Second {
        margin-left: 31%;
        position: absolute;
    }
    #Third {
        margin-left: 50%;
        position: absolute;
    }
    #Fourth {
        margin-left: 70%;
        position: absolute;

    }

    .totalScore {
        width: 93%;
        margin-top: 150px;


    }

 

    .instructions {
        width: 6%;
        font-size: 14px;
    }
    .instructions li {
        width: 115%;
    }

/* 
    .navi1 {
    display: none;
        position: absolute;
        float: left;
        margin-top: -190px;
    }
    
    .navi2 {
        width: 50%;
        margin-top: -173px;
    } */
}
        
@media screen and (min-width: 0) and (max-width: 430px){

    body {
        width: 340px;
    }
    
}